@each $color, $hexvalue in $bsp-colors{
    .alert-#{$color}{
        color: $hexvalue;
        background-color: light($hexvalue);
        border-color: light($hexvalue);

        & hr{
            border-top-color: $hexvalue;
        }

        & .alert-link{
            color: hover($hexvalue);
        }
    }
}