@each $color, $hexvalue in $all-colors {
    .badge-#{$color}{
        color: contrast($color);
        background-color: $hexvalue;
    }

    a.badge-#{$color}{
        &:focus,&:hover{
            color: contrast($color);
            background-color: hover($hexvalue);
        }

        &.focus,&:focus{
            outline: 0;
            box-shadow: 0 0 0 0.2rem hover($hexvalue);
        }
    }
}