.circle{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    font-size: inherit;
    font-weight: bold;
    line-height: 1;
    max-width: 100%;
    max-height: auto;
    text-align: center;
    overflow: visible;
    position: relative;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,box-shadow .15s ease-in-out;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;

    width: 4rem;
    height: 4rem;

}
.circle-xxs{
    width: 1rem;
    height: 1rem;
}
.circle-xs{
    width: 2rem;
    height: 2rem;
}
.circle-sm{
    width: 3rem;
    height: 3rem;
}
.circle-lg{
    width: 5rem;
    height: 5rem;
}
.circle-xl{
    width: 6rem;
    height: 6rem;
}
.circle-xxl{
    width: 7rem;
    height: 7rem;
}

.circle-state-xxs{
    width: .5rem;
    height: .5rem;
    transform: translate(-100%,75%);
}
.circle-state-xs{
    width: 1rem;
    height: 1rem;
    transform: translate(-100%,75%);
}
.circle-state-sm{
    width: 1.5rem;
    height: 1.5rem;
    transform: translate(-100%,75%);
}
.circle-state{
    width: 2rem;
    height: 2rem;
    transform: translate(-100%,75%);
}
.circle-state-lg{
    width: 2.5rem;
    height: 2.5rem;
    transform: translate(-100%,75%);
}
.circle-state-xl{
    width: 3rem;
    height: 3rem;
    transform: translate(-100%,75%);
}
.circle-state-xxl{
    width: 3.5rem;
    height: 3.5rem;
    transform: translate(-100%,75%);
}

@each $color, $hexvalue in $all-colors {
    .circle-#{$color}{
        background-color: disable($hexvalue);
        border-color: $hexvalue;
        color: contrast($color);
    }
}