@mixin keyframes($animation-name){
    @keyframes #{$animation-name} {
        @content;
    }
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }
}

@include keyframes(neonborder1){
    0%{
        left: -100%;
    }
    50%, 100%{
        left: 100%;
    }
}
@include keyframes(neonborder2){
    0%{
        top: -100%;
    }
    50%, 100%{
        top: 100%;
    }
}
@include keyframes(neonborder3){
    0%{
        right: -100%;
    }
    50%, 100%{
        right: 100%;
    }
}
@include keyframes(neonborder4){
    0%{
        bottom: -100%;
    }
    50%, 100%{
        bottom: 100%;
    }
}