@each $color, $hexvalue in $bsp-colors{
    .list-group-item-#{$color}{
        color: $hexvalue;
        background-color: light($hexvalue);

        &.list-group-item-action:focus, &.list-group-item-action:hover{
            color: $hexvalue;
            background-color: lighthover($hexvalue);
        }

        &.list-group-item-action.active{
            color: contrast($color);
            background-color: $hexvalue;
            border-color: $hexvalue;
        }
    }
}