.minilert{
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    font-weight: bold;
}

@each $color, $hexvalue in $all-colors{
    .minilert-#{$color}{
        color: $hexvalue;
        background-color: transparent;
        border-color: $hexvalue;

        & hr{
            border-top-color: $hexvalue;
        }

        & .alert-link{
            color: hover($hexvalue);
        }
    }
}