@each $color, $hexvalue in $all-colors {
    .btn-neon-#{$color}{
        position: relative;
        color: $hexvalue;
        overflow: hidden;

        &.btn-neon-snake .btn-neon-border:nth-child(1){
            top: 0;
            left: -100%;
            width: 100%;
            height: 2px;
        
            background: linear-gradient(90deg, transparent,$hexvalue);
            animation: neonborder1 1s linear infinite;
        }
        &.btn-neon-snake .btn-neon-border:nth-child(2){
            top: -100%;
            right: 0;
            width: 2px;
            height: 100%;
        
            background: linear-gradient(180deg, transparent, $hexvalue);
            animation: neonborder2 1s linear infinite;
            animation-delay: 0.25s;
        }
        &.btn-neon-snake .btn-neon-border:nth-child(3){
            bottom: 0;
            right: -100%;
            height: 2px;
            width: 100%;
        
            background: linear-gradient(270deg, transparent, $hexvalue);
            animation: neonborder3 1s linear infinite;
            animation-delay: 0.50s;
        }
        &.btn-neon-snake .btn-neon-border:nth-child(4){
            bottom: -100%;
            left: 0;
            width: 2px;
            height: 100%;
        
            background: linear-gradient(0deg, transparent, $hexvalue);
            animation: neonborder4 1s linear infinite;
            animation-delay: 0.75s;
        }
        
        &:hover{
            color: contrast($color);
            background-color: $hexvalue;
            box-shadow: 0 0 5px $hexvalue,
                        0 0 25px $hexvalue,
                        0 0 50px $hexvalue,
                        0 0 200px $hexvalue;
        }

        &.focus,&:focus{
            color: contrast($color);
            background-color: $hexvalue;
            box-shadow: 0 0 5px $hexvalue,
                        0 0 25px $hexvalue,
                        0 0 50px $hexvalue,
                        0 0 200px $hexvalue;
        }

        &.disabled,&:disabled{
            color: disable($hexvalue);
            background-color: transparent;
        }

        &:not(:disabled):not(.disabled) {
            cursor: pointer;
        
            &:active,
            &.active {
                box-shadow: 0 0 0 0.2rem $hexvalue;
        
                &:focus {
                    box-shadow: 0 0 0 0.2rem hover($hexvalue);
                }
            }
        }
    }
}

.btn-neon-border{
    display: block;
    position: absolute;
}