.o-0{
    opacity: 0 !important;
}
.o-1{
    opacity: 0.2 !important;
}
.o-2{
    opacity: 0.4 !important;
}
.o-3{
    opacity: 0.6 !important;
}
.o-4{
    opacity: 0.8 !important;
}
.o-5{
    opacity: 1 !important;
}
.o-fade{
    opacity: 0.95 !important;
}