.sidebar {
    position: fixed;
    top: 0;
    left: -15rem;
    width: 15rem;
    height: 100vh;
    transition: all .5s ease;
    z-index: 6969;
    user-select: none;

    overflow-x: hidden;
    overflow-y: auto;

    &.toggled{
        left: 0;
    }

    .sidebar-brand{
        font-size: 1.5rem;
        text-align: center;
        line-height: 4rem;

        a{
            text-decoration: none;
        }
    }
}

    .sidebar-nav{
        list-style: none;
        padding:0;

        .sidebar-link{
            text-decoration: none;
            padding-left: 20px;
            display: flex;
            align-items: center;
            
            height: 100%;
            width: 100%;

            line-height: 3rem;
            font-size: 1rem;
            box-sizing: border-box;
            transition: .5s;
            box-shadow: 2px 0 10px rgba(0,0,0,.1);
        }

        .sidebar-item{
            &:hover{
                .sidebar-link{
                    padding-left: 30px;
                }
            }
            &.active{
                .sidebar-link{
                    padding-left: 30px;
                }
            }
        }
}
@each $color, $hexvalue in $all-colors {
    .sidebar-#{$color}{
        background-color: $hexvalue;
        color: contrast($color);
        hr{
            border-top-color: $hexvalue;
            margin-top: .5rem;
            margin-bottom: .5rem;
        }
        .sidebar-brand{
            a{
                color: contrast($color);
            }
        }
        .sidebar-nav{
            .sidebar-item{
                .sidebar-link{
                    color: contrast($color);
                }
                &.active{
                    .sidebar-link{
                        background-color: hover($hexvalue);
                    }
                }
            }
        }

        .sidebar-item:hover{
            .sidebar-link{
                background-color: hover($hexvalue);
            }
        }
    }
}